<div class="banner-left">
    <div class="left">
        <img src="assets/images/login.svg" alt="img">
        <h2>Automated invoice System</h2>
        <h5>Invoice automated solution</h5>
    </div>
</div>


<div class="banner-right">
    <div class="right">
        <p>Kumaran</p>
        <h5>Invoice Billing System</h5>
     </div>
    <div class="textbox">
        <h2>Login</h2>
        <i class="fa fa-user"></i>
        <input type="text" placeholder="User id">
        <br>
        <br>
        <i class="fa fa-key icon"></i>
        <input type="text" placeholder="Password">
        <br>
        <button class="btn">Submit</button>
    </div>
    <div class="bottom">
    <h5><u>Don’t have an account ?</u>
        <a href="#">Create</a></h5>
    
</div>
</div>