<div class="container-party">

    <div class="sidebar">
        <img class="logo" src="assets/images/kibs_logo.svg">
        <div class="dropdown">
            <i class="fa fa-users" aria-hidden="true"></i>
            <select class="btn">
                <option value="company">Company</option>
                <option value="vendor">Vendor</option>
                <option value="client">Client</option>
                <option value="employee">Employee</option>
            </select>
        </div>
    </div>

<div class="body-right">

        <div class="main-head">
            <p>Party</p>
            <h5>Company</h5>
        </div>

        <div class="main-body">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            <button type="button" class="button">Search</button>
        </div>
        <div class="side">

            <button type="button" class="btn">Add Company
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>

</div>